<div class="div_f">
    <div class="div_text">
        <div class="div_p">
             <p>Welcome to furnishings
            browse our site with the navigation bar!
        </p>
        </div>
    </div>
    <div class="div_img">
        <div class="div_i">
            <img class="img" src="/img/guys.svg"  alt="guys_icon">
        </div>
    </div>
</div>