<h1>País:{{selecao.name}}</h1>
<h2>Capital:{{selecao.capital}}</h2>
<p><strong>Curiosidades:</strong>{{selecao.c}}</p>


{{#if auth}}

<p>você está autenticado! <a href="/dashboard">clique aqui</a> para ver a área de membros</p>
{{/if}}
