<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/catalogs.css">
    <title>catalogs</title>
</head>
<header>
    <nav class="nav">
        <ul class="ul">
                <li class="li_f"><a href="/" class="li_f">Food's</a></li>
           <div class="ul">
            <li class="li_c"><a class="li_c" href="/foods/log">sign up</a></li>
            <li class="li_p"><a class="li_p" href="/foods/profile">Profile</a></li>
           </div>
            
        </ul>
    </nav>
</header>
<body>
    <section class="section_catalog">
       <div class="card">
            <div class="center">
                <img class="img_c" src="../img/pasta.svg" alt="pasta" width="115">
                <h1 class="h_c">Garlic and oil pasta</h1>
                <button class="btn_c">View recipe</button>
            </div>
       </div>

       <div class="card">
        <div class="center">
            <img class="img_c" src="../img/pancakes.svg" alt="pasta" width="115">
            <h1 class="h_c">pancakesa</h1>
            <button class="btn_c">View recipe</button>
        </div>
   </div>

   <div class="card">
    <div class="center">
        <img class="img_c" src="../img/omelette.svg" alt="pasta" width="115">
        <h1 class="h_c">Vegetable omelette</h1>
        <button class="btn_c">View recipe</button>
    </div>
</div>
    </section>
   
</body>
</html>