<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css"/>
    <title>home</title>
</head>
<header>
    <nav class="nav">
        <ul class="ul">
                <li class="li_f"><a href="/" class="li_f">Food's</a></li>
           <div class="ul">
            <li class="li_c"><a class="li_c" href="#">sign up</a></li>
            <li class="li_p"><a class="li_p" href="/foods/profile">Profile</a></li>
           </div>
            
        </ul>
    </nav>
</header>
<body>
            <section class="section_h">
                <div class="div_t">
                    <h1 class="h_h">Welcome to <strong class="s">Food's</strong>, quick and easy recipes </h1>
                    <p class="p_h">Here you'll find simple recipes to help you on a daily basis, feel free to explore</p>
                    <a class="a" href="/foods/catalogs"> <button class="btn_h" >Catalogs</button></a>
                </div>
                <div class="div_img">
                    <img src="./img/cesta.svg" alt="foto_cesta" width="420">
                </div>
            </section>
    </nav>
</body>
</html>