<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <title>user</title>
</head>
<header>
    <nav class="nav">
        <ul class="ul">
                <li class="li_f"><a href="/" class="li_f">Food's</a></li>
           <div class="ul">
            <li class="li_c"><a class="li_c" href="#">sign up</a></li>
            <li class="li_p"><a class="li_p" href="/foods/profile">Profile</a></li>
           </div>
            
        </ul>
    </nav>
</header>
<body>
    <div id="div_profile">
        <div class="div_in">
            <p id="nome" class="name">@Lorem ipsum</p>
            <img class="img" src="../img/user.svg" alt="icon_profile"></img>
        </div>
        <div><p class="age"><strong class="s_b">Idade:</strong> 20</p></div>
        <div><p  class="bio"><strong class="s_b">Bio:</strong>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></div>
        <div><input id="file" type="file" /></div>
    </div>
    
</body>
</html>