<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/itens.css">
    <link rel="stylesheet" href="/css/home.css">
     <link rel="stylesheet" href="/css/cadastro.css">
    <title>Furnishings</title>
</head>
<body>
    <style>
             header {
            background-color: #3A5F8A;
            color: #fff;
            padding: 1.4em 0;
        }

        .nav {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        .nav li:first-child {
            margin-right: auto;
        }

        .nav li {
            margin: 0 10px;
        }

        .nav input[type="search"] {
            padding: 5px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        .t_li{
            font-weight: 600;
            font-size: 18px;
        }

    </style>
    <header>
        <nav class="nav">
            <li class="t_li">Furnishings</li>
            <input type="search" name="search" placeholder="Digite algum produto" />
            <li>Itens</li>
            <li>Cadastrar produto</li>
        </nav>
    </header>
    {{{body}}}
</body>
</html>