#div_profile {
    max-width: 300px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    padding: 3em;
    margin-top: 6em;
    height: 23em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 80px;
}
.name, .img, .age, .bio{
    margin-bottom: 1em;
}
.div_in{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 40%;
}

#file{
    margin-bottom: 1em;
}

.btn_p{
    width: 30%;
    padding: 0.5em;
    background-color:var(--yellowButton);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btn_p:hover{
    transition: 0.5s;
    background-color: #dab640;
}

.btn_p2{
    background-color: #7FD572;
}

.btn_p3{
    transition: 0.5s;
    background-color: rgb(243, 88, 88);
}
.btn_p3:hover{
    transition: 0.5s;
    background-color: rgb(193, 73, 73);
}

.btn_p2:hover{
    background-color: #61AE54;
}
.s_b{
    color: black;
    font-weight: 700;
}

.div_btn{
    display: flex;
    justify-content: center;
    gap: 1em;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}