<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
</head>
<body>
    <h1>Preencha</h1>
    <form id="myForm" action="/users/save" method="post">
        <div><input id="name" type="text" name="name" placeholder="Digite um nome"></div>
        <div><input id="age" type="text" name="age" placeholder="Digite a idade"></div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <script>
        
     document.getElementById('myForm').addEventListener('submit', (event) => {
        const name = document.getElementById('name').value;
        const age = document.getElementById('age').value;

        if (!name || !age) {
            alert('Por favor preencha o formulário corretamente');
            event.preventDefault(); 
        }
    });
    </script>
</body>
</html>